[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "Zenburn"]
	path = Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "molokai"]
	path = molokai
	url = https://github.com/tomasr/molokai.git
[submodule "mustang-vim"]
	path = mustang-vim
	url = https://github.com/croaker/mustang-vim.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git

[submodule "Vim-Jinja2-Syntax"]
	path = Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "vimroom"]
	path = vimroom
	url = https://github.com/mikewest/vimroom.git
